@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

/*
Topic 2 Exercise - CSS using a `style.css` file
Points Covered:
- Use fonts from google fonts
- Use of colors
- Use of box model (padding, margin, border)
- Use of flexbox
- Use of CSS selectors (element, class, id, descendant, child, pseudo-class)
*/

body {
  background-color: rgba(0, 0, 0, 0.8);
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  font-style: normal;
}

nav {
  background-color: #778899;
  padding: 10px;
  margin-bottom: 20px;
  color: white;
}

h1 {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  text-align: center;
}

h2 {
  color: #333;
  border-bottom: 2px solid #b8860b;
  padding-bottom: 5px;
  color: white;
}

p {
  font-family: "IBM Plex Serif", serif;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 15px;
  color: white;
}

li {
  margin-bottom: 8px;
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  font-style: italic;
  color: white;
}

th {
  font-family: "IBM Plex Serif", serif;
  font-weight: 600;
  font-style: normal;
  color: white;
}

td {
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #778899;
  margin-top: 20px;
}
footer p {
  color: white;
  font-size: 24px;
}

hr {
  border: 0;
  height: 1px;
  background-color: #87ceeb;
  margin: 20px 0;
}

#bottom {
  color: white;
  border: 2px solid #b8860b;
  padding: 10px;
  margin: 20px 0;
  text-align: justify;
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 1.6;
  background-color: #2f4f4f;
}
