@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/*
Topic 2 Exercise - CSS using a `style.css` file
Points Covered:
- Use fonts from google fonts
- Use of colors
- Use of box model (padding, margin, border)
- Use of flexbox
- Use of CSS selectors (element, class, id, descendant, child, pseudo-class)
*/
h1 {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  text-align: center;
}

h2 {
  color: #333;
  border-bottom: 2px solid #4CAF50;
  padding-bottom: 5px;
}

body {
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "IBM Plex Serif", serif;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 15px;
}

li {
  margin-bottom: 8px;
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  font-style: italic;
}

th {
  font-family: "IBM Plex Serif", serif;
  font-weight: 600;
  font-style: normal;
}

td {
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  font-style: normal;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #f1f1f1;
  margin-top: 20px;
}